Language: Cpp
BasedOnStyle: LLVM
IndentWidth:     4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
